*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    overflow-x: hidden;
}
body{
    background: linear-gradient(to left, green , yellow);
}
nav{
    width: 100%;
    height: 100px;
    background: grey;

}
nav ul{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

nav ul li a{
    color: white;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
} 
nav ul li a:hover{
    color: red;
}

.home-page{
    display: flex;
}

.img-container{
height: 500px;
display: flex;
width: 500px;
/* background: blue; */
/* justify-content: center; */
align-items: center;
border-radius: 50%;
margin-left: -220px;
box-shadow: 0 0 5px rgb(223, 4, 4);
}

.myimage{
    height:250px;
    width:250px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 220px;
}



.text{
    background-color: #5F5F46;
    width: 750px;
    height: fit-content;
    margin-left: 8rem;
    margin-top: 9rem;
    padding: 20px;
    border-radius: 1rem;
    border: 1px solid rgb(213, 211, 211);
}
.text p{
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
    line-height: 20px;
    margin-top: 20px;
}

.description{
    position: relative;
}
.description h3{
    position: absolute;
    top: 6rem;
    left: 22rem;
    font-weight: bolder;
    font-size: 2rem;

}

  @media screen and (max-width: 1176px) {
    .text{
      
        width: 550px;
        margin-top: 5rem;
     
    }

    .description h3{
        left: 14rem;
        top: 2rem;
    }

    /* .img-container{
        height: 380px;
        width: 430px;
        margin-left: -200px;
        } */
        .img-container{
            display: none;
        }
        .potrait img{
            border-radius: 50%;
            object-fit: cover;
            margin-left: 220px;
            height:180px; 
            width:180px;
        }
        
  }

  @media screen and (max-width: 970px) {
    .home-page{
        display: grid;
        grid-template-columns: 1fr;
    }

    .text{
      
        width: 100%;
        margin-top: 5rem;
        margin-left: unset;
        height: 15rem;
        border-radius: 0rem;
     
    }

    .img-container{
        height: 500px;
        display: unset;
        width: 100%;
        /* background: blue; */
        /* justify-content: center; */
        align-items: center;
        border-radius: 0%;
        margin-left: 0px;
        box-shadow: 0 0 5px rgb(223, 4, 4);
        display: flex;
        justify-content: center;
        align-items: center;
        }

        
        .myimage{
            height:250px;
            width:250px;
            border-radius: 0%;
            object-fit: cover;
           margin-right: 150px;
        }

  }

  @media screen and (max-width:554px){
    
    
  }
   